.addCustomer {
    width: 100%;
    .member-add {
        width: 750px;
    }

    .labelName {
        width: 130px;
    }
    .remark {
        width: 80%;
        min-height: 80px;
    }

    .addTitle {
        line-height: 34px;
        font-weight: 700;
    }
}