.customDetails {
    width: 100%;
    .name {
        .title {
            margin-left: 20px;
        }
    }
    .information {
        .labelName {
            width: 95px;
        }
        .balckName {
            width: 70%;
            line-height: 1.8;
            word-wrap: break-word;
            word-break: normal;
        }
        .remark {
            width: 70%;
            line-height: 1.8;
            word-wrap: break-word;
            word-break: normal;
        }
        .picture {
            padding: 0 25% 5% 25%;
        }
        .dealName {
            min-width: 150px;
        }
    }

}
