.owner,
.ownerDetail{
	.content{
		background: #fff;
		padding: 20px;
		margin-top: 10px;
	}
	.el-dialog .el-dialog__body .el-row .el-col-12{
		padding-bottom: 0;
	}
}
.ownerDetail{
	.el-row .grid-content{
		label{
			padding-left:5px;
			width: 100px;
			display: inline-block;
		}
		span{
		}
		.el-textarea{
			width: calc(100% - 110px);
			float: left;
		}
	}
}

.owner .el-dialog .el-dialog__body .el-row .el-col-12,
.ownerDetail .el-dialog .el-dialog__body .el-row .el-col-12{
    height: 62px;
}