
.spendingType,
.staffDetail{
	.content{
		background: #fff;
	}
	.el-form-item {
        width: calc((100% - 90px) / 4);
        .el-select {
            width: 100%;
        }
    }
    .selectData.el-form-item {
        width: calc((100% - 90px) / 2 + 30px);
    }

}

.staff .pj{
    .el-form-item {
        width: calc((100% - 90px) / 4);
        .el-select {
            width: 100%;
        }
    }
  
}


.staff,
.staffDetail,
.record,
.goodsType{
    .el-row .grid-content{
        label{
            width: 120px;
            display: inline-block;
        }
        span{
        }
        .el-textarea{
            width: calc(100% - 120px);
            float: left;
        }
    }
}

.record .el-dialog .el-dialog__body .el-row .el-col-12,
.goodsType .el-dialog .el-dialog__body .el-row .el-col-12{
    padding-bottom: 0;
    height: 62px;
}
.goodsType .content{
    background: #fff;
}
