.orderDetails {
    .width-220{
        width: -moz-calc(100% - 220px);
        width: -webkit-calc(100% - 220px);
        width: calc(100% - 220px);
    }
    .infoLayout {
        padding: 0 10px;
        .icon {
            width: 128px;
            height: 128px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }
        //每一项信息
        .info {
            line-height: 39px;
            .key {
                width: 180px;
                color: #1a1a1a;
                background-color: #f5f5f5;
                padding-left: 15px;
                box-sizing: border-box;
            }
        }
        //备注
        .remarks {
            .key {
                width: 180px;
                color: #1a1a1a;
                background-color: #f5f5f5;
                padding-left: 15px;
                box-sizing: border-box;
            }
            .content {
                width: calc(100% - 210px);
                display: table;
                min-height: 39px;
                div {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
        //底部价格信息
        >.moneyInfo {
            line-height: 39px;
            width: calc((100% - 30px) / 4);
            float: left;
            margin-left: 10px;
            .key {
                width: 180px;
                color: #1a1a1a;
                background-color: #f5f5f5;
                padding-left: 15px;
                box-sizing: border-box;
            }
            .type {
                color: #01c65a !important;
            }
        }
        >.moneyInfo:nth-child(n+5) {
            margin-top: 10px;
        }
        >.moneyInfo:nth-child(4n+1) {
            margin-left: 0;
        }
    }
    //客户签字
    .customerSignature {
        padding-left: 30px;
        .img {
            width: 200px;
            height: 110px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    //货品单价输入框
    .unitPriceInput {
        width: 100px;
    }
    .saleCompany {
        display: inline-block;
    }
}