.orderSettlementSheet {
    -webkit-text-size-adjust:none;
    text-size-adjust:none;
    .printLayout {
        width: 40%;
        /*font-size: 50%;*/
        border: 1px solid #dedede;
    }
    .print-btn {
        margin-left: calc(70% - 78px + 20px);
        margin-top: 15px;
    }

    .print-btn1 {
        margin-left: calc(70% - 198px + 20px);
        margin-top: 15px;
    }

    .settlement-btn1{
        background-color: #fff;
        color: #32d57b !important;
        padding: 10px 24px !important;
    }

    .print-btn1:hover{
        background: #f5f5f5;
        border-color: #85ce61;
        color: #32d57b!important;
    }
    .el-table__body-wrapper tbody>tr:last-child>td {
        border: none;
    }
}
